<ion-header>
  <ion-navbar color="primary">
    <ion-title>Create Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="createEventForm" (ngSubmit)="create(createEventForm.value)">

		<ion-item>
			<ion-label>Agenda</ion-label>
            <ion-input formControlName="eventname" type="text" [ngModel]="eventname" [class.invalid]="!createEventForm.controls.eventname.valid && (createEventForm.controls.eventname.dirty || submitAttempt)"></ion-input>
    </ion-item>
 
    <div *ngIf="!createEventForm.controls.eventname.valid  && (createEventForm.controls.eventname.dirty || submitAttempt)">
        <p>* Please enter Agenda.</p>
   </div>

   <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-input formControlName="starttime" type="Time" [(ngModel)]="starttime" [class.invalid]="!createEventForm.controls.starttime.valid && (createEventForm.controls.starttime.dirty || submitAttempt)"></ion-input>
    </ion-item>
 
    <div *ngIf="!createEventForm.controls.starttime.valid  && (createEventForm.controls.starttime.dirty || submitAttempt)">
        <p>* Please enter Start time.</p>
   </div>

   <ion-item>
      <ion-label>End Time</ion-label>
            <ion-input formControlName="endtime" type="Time" [(ngModel)]="endtime" [class.invalid]="!createEventForm.controls.endtime.valid && (createEventForm.controls.endtime.dirty || submitAttempt)"></ion-input>
    </ion-item>
 
    <div *ngIf="!createEventForm.controls.endtime.valid  && (createEventForm.controls.endtime.dirty || submitAttempt)">
        <p>* Please enter End time.</p>
   </div>

   <ion-item>
      <ion-label>Venue</ion-label>
            <ion-input formControlName="venue" type="text" [ngModel]="venue" [class.invalid]="!createEventForm.controls.venue.valid && (createEventForm.controls.venue.dirty || submitAttempt)"></ion-input>
    </ion-item>
 
    <div *ngIf="!createEventForm.controls.venue.valid  && (createEventForm.controls.venue.dirty || submitAttempt)">
        <p>* Please enter Venue.</p>
   </div>

		<button ion-button type="submit" class="createbutton" color="danger">CREATE EVENT</button>

	</form>
	<div class="error-box" *ngIf="error_mssg!=null">{{ error_mssg }}</div>
</ion-content>
