<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Event in Checklist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <p *ngIf="errormessage" class="error-box">{{errormessage}}</p>
  
	<form [formGroup]="createEventForm">
    
    <ion-item>
			<ion-label>Event Name</ion-label>
            <ion-input formControlName="eventname" type="text" [ngModel]="eventname" [class.invalid]="!createEventForm.controls.eventname.valid && (createEventForm.controls.eventname.dirty || submitAttempt)"></ion-input>
    </ion-item>
 
    <div *ngIf="!createEventForm.controls.eventname.valid && (createEventForm.controls.eventname.dirty || submitAttempt)">
        <p class="error-box">* Please enter eventname.</p>
   </div>

		<br><br>
    <button ion-button full (click)="create(createEventForm.value)">Add Event to checklist</button>

	</form>
</ion-content>
