page-add-visit {
	.buttons{
		padding-top:30px;
	}
	.leftbutton{
		width:40%;
		margin-left:10%;
		background-color:#0066a1;
	}
	.cancelbutton{
		width:40%;
		background-color: #f53d3d;
	}
	.error-box {
		color: #f53d3d;
		padding: 10px 10px;
	}
	
	.error-border {
		color: red;
	}
	.date{
		color:grey;
	}
}

