<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title  text-center>Create Visit</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
  
  <form [formGroup]="addVisitForm">

  	             <ion-item>
                    <ion-label>Project</ion-label>
                    <ion-select formControlName="project">
				        <ion-option value={{project.projectid}} *ngFor="let project of allprojects">
				            <h2>{{project.name}}  - {{project.organisation}}</h2>
				        </ion-option>
                        <ion-option value="public" checked="true">Project1</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!addVisitForm.controls.project.valid  && (addVisitForm.controls.project.dirty || submitAttempt)">
                <p>Please select a project name.</p>
                </ion-item>

  	           <ion-item>
	           <ion-label floating>Venue</ion-label>
                <ion-input formControlName="venue" type="text" [class.invalid]="!addVisitForm.controls.venue.valid && (addVisitForm.controls.venue.dirty || submitAttempt)"></ion-input>
               </ion-item>
 
            <ion-item *ngIf="!addVisitForm.controls.venue.valid  && (addVisitForm.controls.venue.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
 
            <ion-item>
                <ion-label floating>Visit Date</ion-label>
                 <ion-input formControlName="date" type="date" ></ion-input> 
             <!--    <ion-input formControlName="date" type="date" [class.invalid]="!slideOneForm.controls.date.valid && (slideOneForm.controls.date.dirty || submitAttempt)"></ion-input> -->
            </ion-item>
 
            
            <button ion-button full color="danger" (click)="save()">Save</button>

</form>
</ion-content>