<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Checklist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 
    <ion-list>
      <h2>Event list:</h2>
      <ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0">
        <ion-item *ngFor="let collecting of collectings">
            <h2><b>Agenda:</b> {{"    " + collecting.name}}<br> 
            
            <b>Time:</b>{{"    " + collecting.starttime}}   -   {{ collecting.endtime }}
            <ion-icon name="close" class="cancel" (click)="presentConfirm(collecting)"></ion-icon>
            <ion-icon name="build" class="build" (click)="editevent(collecting)"></ion-icon>
            <br>
            
            <b>Venue:</b> {{"    " + collecting.venue}} </h2>
        </ion-item>
      </ion-item-sliding>
      <ion-item class="row" *ngIf="!collectings || collectings.length == 0">
        <ion-card>
            <ion-card-header text-wrap>
                No Events added to the checklist please add events
            </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-fab bottom right >
      <button ion-fab large (click)="addevent()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
