<ion-header>
  <ion-navbar color="primary">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>
      Manager Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label><b>Project name: </b></ion-label>   
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>

    <br>
    <ion-title>Current Visits:</ion-title>
    <button ion-button (click)="getCollectings()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <div class="row" *ngIf="collectings && collectings.length > 0">
      <ion-list>
        <button ion-item *ngFor="let collecting of collectings" (click)="itemSelected(collecting)">

          <h2>{{collecting.PROJECTNAME}}</h2>
          <h3>{{collecting.CLIENTHEAD}}</h3>

        </button>
      </ion-list>
    </div>

</ion-content>