<ion-header>
  <ion-navbar color="primary">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>
      Manager Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label><b>Project name: </b></ion-label>   
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>


    <br>
    <ion-title>Current Visits:</ion-title>
    <button ion-button (click)="getCollectings()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    
    <ion-list>
      <ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0">
        <button ion-item *ngFor="let collecting of collectings" (click)="itemSelected(collecting)" text-center>
          <ion-item>  
            <h2>{{collecting.PROJECTNAME}}</h2>
            <h3>{{collecting.CLIENTHEAD}} - {{ collecting.ORGANISATION }}</h3>
          </ion-item>   
        </button>
      </ion-item-sliding>
    </ion-list>
    

    <ion-fab bottom right >
      <button ion-fab mini><ion-icon name="add" (click)="createproject()"></ion-icon></button>
    </ion-fab>
</ion-content>