<ion-header >

  <ion-navbar color="primary">
    <ion-title>
        Add Project    
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-lines>

 <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately and submit again.</p>
 
    <ion-list no-lines>
 
        <form [formGroup]="slideOneForm">
 
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input formControlName="name" type="text" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.name.valid  && (slideOneForm.controls.name.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
 
            <ion-item>
                <ion-label floating>Client Head</ion-label>
                <ion-input formControlName="clientName" type="text" [class.invalid]="!slideOneForm.controls.clientName.valid && (slideOneForm.controls.clientName.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.clientName.valid  && (slideOneForm.controls.clientName.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Organization</ion-label>
                <ion-input formControlName="organization" type="text" [class.invalid]="!slideOneForm.controls.organization.valid && (slideOneForm.controls.organization.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.organization.valid  && (slideOneForm.controls.organization.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
 
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input formControlName="email" type="text" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"></ion-input>
            </ion-item>
 
            <ion-item *ngIf="!slideOneForm.controls.email.valid  && (slideOneForm.controls.email.dirty || submitAttempt)">
                <p>Please enter a valid email-id.</p>
            </ion-item>
 
        </form>
 
    </ion-list>

    <button ion-button full (click)="save()">Create Project!</button>
    <button ion-button full color="danger" (click)="goBack()">Cancel</button>
</ion-content>
