page-edit-checklist-event {
	.error-box {
		color: #f53d3d;
		padding: 10px 10px;
	}
	.createbutton{
		margin-top:20px;
		background-color:#f53d3d;
		margin-left:20%;
		width:30%;
	}
	.right
	{
		margin-top:20px;
		width:30%;
	}
}
