<ion-header>
  <ion-navbar color="primary">
    <ion-title>Modify Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="createEventForm" (ngSubmit)="modify(createEventForm.value)">

  <ion-item>
		<ion-label>Agenda</ion-label>
    <ion-input [formControl]="createEventForm.controls['eventname']" [(ngModel)]="eventname" type="text" 
      [ngClass]="{'error-border':!createEventForm.controls['eventname'].valid}"></ion-input>
	
    <div class="error-box" *ngIf="createEventForm.controls['eventname'].hasError('required') && createEventForm.controls['eventname'].touched">
            * Agenda is required!
    </div>
  </ion-item>
  
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-input [formControl]="createEventForm.controls['starttime']" [(ngModel)]="starttime" type="Time" 
      [ngClass]="{'error-border':!createEventForm.controls['starttime'].valid}"></ion-input>
  
    <div class="error-box" *ngIf="createEventForm.controls['starttime'].hasError('required') && createEventForm.controls['starttime'].touched">
            * Start time is required!
    </div>
  </ion-item>
  
  <ion-item>
    <ion-label>End Time</ion-label>
    <ion-input [formControl]="createEventForm.controls['endtime']" [(ngModel)]="endtime" type="Time" 
      [ngClass]="{'error-border':!createEventForm.controls['endtime'].valid}"></ion-input>
  
    <div class="error-box" *ngIf="createEventForm.controls['endtime'].hasError('required') && createEventForm.controls['endtime'].touched">
            * End Time is required!
    </div>
  </ion-item>

  <ion-item>
    <ion-label>Venue</ion-label>
    <ion-input [formControl]="createEventForm.controls['venue']" [(ngModel)]="venue" type="text" 
      [ngClass]="{'error-border':!createEventForm.controls['venue'].valid}"></ion-input>
  
    <div class="error-box" *ngIf="createEventForm.controls['venue'].hasError('required') && createEventForm.controls['venue'].touched">
            * Venue is required!
    </div>
  </ion-item>
  <button ion-button class="createbutton" type="submit">MODIFY</button>
  <button ion-button class="right" (click)="goback()">CANCEL</button>
  </form>

  <div *ngIf="error_mssg!=null" class="error-box">{{ error_mssg }}</div>
</ion-content>
