<ion-header>
  <ion-navbar color="primary">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>
      View History
    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>

      <ion-label>Filter By:</ion-label>

    <ion-list>

  <ion-item>
      <ion-label floating>Customer Name</ion-label>
      <ion-input type="text" [value]="cname" [(ngModel)]="cname"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Project Name</ion-label>
      <ion-input type="text" [value]="pname" [(ngModel)]="pname"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label stacked>From Date</ion-label>
    <ion-input type="date" [value]="fdate" [(ngModel)]="fdate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>To Date</ion-label>
    <ion-input type="date" [value]="tdate" [(ngModel)]="tdate"></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button ion-button round (click)="searchhistory()">Search</button>
</div>

    <ion-title>Records:</ion-title>

  <ion-list>
    <ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0">
      <ion-item *ngFor="let collecting of collectings" (click)="itemSelected(collecting)">
          <h2>{{collecting.PROJECTNAME}}</h2>
          <h3>{{collecting.CLIENTHEAD}} - {{ collecting.ORGANISATION }}</h3>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
    

</ion-content>
