<ion-header>
  <ion-navbar color="primary">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>
      Projects
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label><b>Project name: </b></ion-label>   
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>


    <br>
    <ion-title>Projects:</ion-title>
    <button ion-button (click)="getCollectings()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    
    <ion-list>
      <ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0">
        <ion-item color="light" *ngFor="let collecting of collectings" (click)="itemSelected(collecting)">
            <h2> {{collecting.NAME}} - {{ collecting.ORGANISATION }}</h2>
            <h3>{{collecting.CLIENTHEAD}}</h3>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    

    <ion-fab bottom right >
      <button ion-fab large (click)="goToAddProject()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>