<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>employee-events</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-label><b>Event name: </b></ion-label>   
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
    <ion-title>Your Current Events:</ion-title>
    <button ion-button (click)="getallevents()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    
    <ion-list>
      <!--<ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0">
        <ion-item color="primary" *ngFor="let collecting of collectings" (click)="itemSelected(collecting)" text-wrap>
            <h2><b>Event:</b> {{collecting.EVENTNAME}} <b>Visit Date:</b> {{collecting.VISITDATE}}</h2>
            <h3><b>Time:</b> {{collecting.STARTTIME}} - {{collecting.ENDTIME }} ---- <b>Due Date:</b> {{collecting.DUEDATE}} </h3>
            <h3><b>Status:</b> {{collecting.STATUS}} <b>Venue:</b> {{ collecting.EVENTVENUE }}</h3>
        </ion-item>
      </ion-item-sliding>-->

      <ion-item-sliding class="row" *ngIf="collectings && collectings.length > 0"> 
       <button ion-item color="light" *ngFor="let collecting of collectings" (click)="itemSelected(collecting)" text-wrap text-center>
          <ion-item >
            <h1><b>Event:</b>{{"    "+collecting.EVENTNAME+"    "}}  <b>Venue:</b> {{collecting.EVENTVENUE}}</h1>
            <h3><b>Date:</b>{{"  "+collecting.VISITDATE+"     "}}<b>Status:</b>{{"  "+collecting.STATUS+"      "}}</h3>
            <h3><b>Due Date:</b>{{" "+collecting.DUEDATE}}</h3>  
            <h3><b>Start time:</b>{{"  "+collecting.STARTTIME+"    "}}<b>End time:</b>{{"  "+collecting.ENDTIME+"  "}}</h3>
          </ion-item>
        </button>
    </ion-item-sliding>
    </ion-list>

</ion-content>
