<!--
  Generated template for the EmployeeEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>employee-events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
    <ion-title>Your Visits:</ion-title>
    <button ion-button (click)="getallevents()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    
    <ion-list>
      <ion-item-sliding class="row" *ngIf="event && allevents.length > 0">
        <ion-item *ngFor="let event of allevents" (click)="itemSelected(event)">
            <h2>Project Details: {{event.PROJECTNAME}} - {{event.VISITDATE}}</h2>
            <h3>Time: {{event.STARTTIME}} - {{ event.ENDTIME }}</h3>
            <h3>Venue: {{ event.VENUES }}</h3>
            <h4>Due Date: {{ event.DUEDATE }}</h4>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
</ion-content>
