<ion-header >

  <ion-navbar color="primary" class="force-back-button">
    <ion-title>
      Agenda    
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item>
      <h1>
        <b>Events Schedule</b>
         <button right ion-button (click)="getCollectings()">
          <ion-icon name="refresh"></ion-icon>
        </button>
      </h1>
    </ion-item>

    <div class="row" *ngIf="collectings && collectings.length > 0">
      <ion-item *ngFor="let collecting of collectings" (click)="itemSelected(collecting)">
         <h2><b>Agenda:</b>{{"     " + collecting.NAME + "  "}} </h2> <br>
            <h4><b>Time:</b>{{"     " + collecting.STARTTIME +" - "}}{{ collecting.ENDTIME }}</h4> <br>
            <h4><b>Status:</b>{{"     " + collecting.STATUS}}</h4><br>  
          </ion-item>
    </div>

    <ion-item class="row" *ngIf="!collectings || collectings.length == 0">
      <ion-card>
          <ion-card-header text-wrap>
              No Events added to the agenda please add events
          </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>

  <button ion-button medium (click)="printpdf()">PRINT SCHEDULE</button>

  <ion-fab bottom right >
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab  (click)="fab()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab  ><ion-icon name="clipboard"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
 